{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<div id="about" class="about-us section mt-5" style="margin-top: 5.5rem !important;">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 align-self-center">
                <div class="services">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="item wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
                                <div class="icon">
                                    <img src="{% static 'images/service-icon-01.png' %}" alt="reporting">
                                </div>
                                <div class="right-text">
                                    <h4>ALUMNI BIZHUB</h4>
                                    <p>The Global nature of our world today means that networks, connections and
                                        businesses can be
                                        conveniently carried out over the web. On this page, you can register your
                                        business or professional
                                        for publicity purposes as well as connect with other Alumni. Everyone can be
                                        featured - Business owners,
                                        Corporate professionals, Service providers and Freelancers.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- filter  -->
<div class="row justify-content-between align-items-center mt-5 container mx-auto">
    <div class="col-sm-12 col-md-6 order-3">
        <div class="main-red-button mt-1">
            <a href="{% url 'core:bizhub:bizhub_form' %}">Add Your Business</a>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 order-1">
        <form action="{% url 'core:bizhub:bizhub_search' %}" method="POST">
            {% csrf_token %}
            <label for="industry">Search by Industry</label>
            <select id="industry" name="industry">
                <option value="Law">Law</option>
                <option value="Software Development">Software Development</option>
                <option value="Health Care">Health Care</option>
                <option value="Accounting">Accounting</option>
                <option value="Engineering">Engineering</option>
                <option value="Ecommerce">Ecommerce</option>
                <option value="Design">Design</option>
                <option value="Ict">ICT</option>
            </select>
            <button type="submit" class="c-btn">
                <i class="fa fa-search text-primary"></i>
            </button>
        </form>
    </div>
</div>

<div id="blog" class="our-blog section p-5">
    <div class="container">
        <div class="row">
            {% for object in object_list %}
            <div class="col-sm-12 col-md-4 wow fadeInUp mt-4 shadow" data-wow-duration="1s" data-wow-delay="0.25s">
                <div class="left-content align-self-center">
                    <a href="#">
                        <h4>{{ object.business_name }}</h4>
                    </a>
                    <span><i class="fa fa-calendar text-muted"></i> {{ object.owner.full_name }}</span><br>
                    <span><i class="fa fa-calendar text-muted"></i> {{ object.business_sector }}</span><br>
                    <span><i class="fa fa-calendar text-muted"></i> {{ object.description }}</span><br>
                    <span><i class="fa fa-calendar text-muted"></i> Online</span><br>
                    <span><i class="fa fa-calendar text-muted"></i> {{ object.location }}</span><br>
                    <span><i class="fa fa-calendar text-muted"></i> {{ object.contact }}</span><br>
                    {% if object.website %}
                    <span><i class="fa fa-calendar text-muted"></i> {{ object.website }}</span><br>
                    {% endif %}
                </div>
            </div>
            {% empty %}
            <h3 class="text-center">No businesses has been registered yet</h3>
            {% endfor %}
        </div>
    </div>
</div>
</div>

{% endblock content %}