{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<br>
<br>
<br>


<div id="about" class="about-us section">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 align-self-center">
                <div class="services">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="item wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
                                <div class="icon">
                                    <img src="{% static 'images/service-icon-01.png' %}" alt="reporting">
                                </div>
                                <div class="right-text">
                                    <h4>BLOGS AND NEWS</h4>
                                    <p> Read spiritually sound and overall rich articles written by alumni members all
                                        over the world.
                                        Also Keep track of relevant updates about events, activities and announcements.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div id="blog" class="our-blog section">
    <div class="container">
        <div class="row">

        </div>
        <div class="row">

            {% for object in object_list %}
            <div class="col-lg-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
                <div class="right-list">
                    <ul>
                        <li>
                            <div class="left-content align-self-center">

                                <a href="#">
                                    <h4>{{ object.title }}</h4>
                                </a>
                                <span><i class="fa fa-calendar"></i> {{  object.timestamp }}</span>
                                <p>
                                    {{ object.content }}
                                </p>
                            </div>

                            <div class="right-image">
                                <a href="#"><img src="{{ object.thumbnail_image.url }}" alt="{{ object.title }}"></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            {% empty %}
            <h3 class="h3 text-center text-muted text-uppercase border p-3">No blogs yet</h3>
            {% endfor %}
            <!-- *pagination -->
            
            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}
            
                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
            
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">next</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
</div>
{% endblock content %}