{% extends 'core/dashboard_base.html' %}

{% block dashboard_content %}

<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title d-flex align-items-center">
                        <h1>Blogs</h1>
                        <a href="{% url 'core:blog:dashboard_blog_create' %}" class="ml-3 nav-link text-primary">
                            <i class="fa fa-plus"></i> Add blog
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="{% url 'core:dashboard' %}">Dashboard</a></li>
                            <li>Blogs</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="animated fadeIn">

        <ul class="list-group list-group-flush">
            {% for object in object_list %}
            <li class="list-group-item bg-light w-100">
                <div class="row align-items-center">
                    <div class="col-10">
                        <div class="user-detail ml-3">
                            <h5 class="text-primary">{{ object.title }}</h5>
                            <small class="mt-2">
                                <a href="{% url 'core:blog:dashboard_blog_update' object.pk %}" class="nav-link p-0">
                                    <i class="fa fa-eye-open"></i>
                                    View
                                </a>
                            </small>
                        </div>
                    </div>
                    <div class="col-1">
                        <a href="{% url 'core:blog:dashboard_blog_delete' object.pk %}" class="nav-link p-0"><i class="fa fa-trash text-danger"></i></a>
                    </div>
                </div>
            </li> <!-- end list -->
            {% empty %}
            <h1 class="text-muted p-3 border">
                No blogs have been created
            </h1>
            {% endfor %}
        </ul>
    </div><!-- .animated -->
</div><!-- .content -->
{% endblock dashboard_content %}