{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<br>
<br>
<br>


<div id="about" class="about-us section">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 align-self-center">
                <div class="services">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="item wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
                                <div class="icon">
                                    <img src="{% static 'images/service-icon-01.png' %}" alt="reporting">
                                </div>
                                <div class="right-text">
                                    <h4>BLOGS AND NEWS</h4>
                                    <p> Read spiritually sound and overall rich articles written by alumni members all
                                        over the world.
                                        Also Keep track of relevant updates about events, activities and announcements.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div id="blog" class="our-blog section">
    <div class="container">
        <div class="row">

        </div>
        <div class="row">

            <div class="col-lg-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
                <div class="right-list">
                    <ul>
                        <li>
                            <div class="left-content align-self-center">

                                <a href="#">
                                    <h4>REUNION AND ELECTIONS</h4>
                                </a>
                                <span><i class="fa fa-calendar"></i> 18 Mar 2021</span>
                                <p>We will be announcing plans shortly regarding the Alumni Reunion for 2021. Also,
                                    elections will
                                    be held to usher in a new set of leaders for the alumni body. Glory!
                                </p>
                            </div>

                            <div class="right-image">
                                <a href="#"><img src="{% static 'images/blog-thumb-0111.jpg' %}" alt=""></a>
                            </div>
                        </li>
                        <li>
                            <div class="left-content align-self-center">

                                <a href="#">
                                    <h4>KEEPING THE FAITH</h4>
                                </a>
                                <span><i class="fa fa-calendar"></i> 18 Mar 2021</span>
                                <p>As an overarching guide, remember James 2 vs 10 - For whosoever shall keep the whole
                                    law
                                    , and yet offend in one point, he is guilty of all. The lures of
                                    the corporate world...
                                </p>
                            </div>

                            <div class="right-image">
                                <a href="#"><img src="{% static 'images/blog-thumb-011.png' %}" alt=""></a>
                            </div>
                        </li>
                        <li>
                            <div class="left-content align-self-center">

                                <a href="#">
                                    <h4>REVIVE THY WORK OH LORD</h4>
                                </a>
                                <span><i class="fa fa-calendar"></i> 14 Mar 2021</span>
                                <p>The testimonies of God should stimulate 'Reverential Fear' in us for God
                                    is no respecter of persons (Acts 10: 34, Romans 2: 11)
                                </p>
                            </div>
                            <div class="right-image">
                                <a href="#"><img src="{% static 'images/blog-thumb-12.jpg' %}" %} alt=""></a>
                            </div>
                        </li>
                        <li>
                            <div class="left-content align-self-center">

                                <a href="#">
                                    <h4>GIANTS FALL</h4>
                                </a>
                                <span><i class="fa fa-calendar"></i> 06 Mar 2021</span>
                                <p>And Caleb stilled the people before Moses and said let us go up at once
                                    and possess it, for we are well able to overcome it. (Num. 13: 30)
                                </p>
                            </div>
                            <div class="right-image">
                                <a href="#"><img src="{% static 'images/blog-thumb-013.jpg' %}" alt=""></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}