{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<br>
<br>
<br>
  <div id="about" class="about-us section">
    <div class="container">
      <div class="row">
      
        <div class="col-lg-12 align-self-center">
          <div class="services">
            <div class="row">
              <div class="col-lg-12">
                <div class="item wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
                  <div class="icon">
                    <img src="{% static 'images/service-icon-01.png' %}" alt="reporting">
                  </div>
                  <div class="right-text">
                    <h4>CONTACT US</h4>
                    <p> We are always available to connect with both old and new alumni members. We have
                        a varieity of options to reach us digitally.
                    
                       
                    </p>
                  </div>
                </div>
              </div>
              
             
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 
  <div id="blog" class="our-blog section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.2s">
            <div class="section-heading">
              <h2>Say Hi to our<span> Alumni Executives!</span></h2>
              <p>Steering the wheel for the past two tenures are the following Alumni: </p><br>
              <ol>
                  <li><b>Dr. Peter Uwoghiren - President</b><br>(+234 703 447 9969)</li><br>
                  <li><b>Dr. Onoriode Atekha - Vice President </b><br>(+234 806 631 6840)</li><br>
                  <li><b>Mr. John Omage - Secretary</b><br>(+234 810 535 0290)</li><br>
                  <li><b>Pharm. (Mrs) Charity Uansoje - Financial Secretary</b><br>(+234 802 713 6185)</li><br>
                  <li><b>Pharm. (Mrs) Akpesiri Okolocha- Treasurer </b><br>(+234 806 559 4232)</li><br>
                  <li><b>Mr Felix Uloko - Public Relations Officer </b><br>(+234 809 928 1429)</li><br>
                  <li><b>Mrs Violet Osidele - Ex-Officio </b><br>(+234 803 374 1464)</li>
              </ol>
    
            </div>
       
          </div>
          <div class="col-lg-6 align-self-center  wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.2s">
              <div class="left-image">
                <img src="{% static 'images/services-left-imageeee.jpg' %}" alt="" class="shadow-lg p-3 mb-5 bg-white rounded">
              </div>
            </div>
     
      </div>
      <br>
      <div class="row">
        <div class="col-lg-6 wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.2s">
            <div class="section-heading">
              <h2>Regional<span> Connections!</span></h2>
              <p> You can be connected with Alumni members around your region, whether you're based in the Diaspora
                  or Northern, Eastern, Southern or Western Nigeria. Find below the contacts of the Regional Coordinators:
              </p><br>
              <ol>
                <li><b>Dr. Emokiniovo Onowhakpor (Diaspora Coordinator) </b><br>(+1 (403) 926-0455)</li><br>
                <li><b>Dr. Mary Atsado (Asst. Diaspora Coordinator) </b><br>(+44 7517 771672)</li><br>
                <li><b>Mr. Aiyudu Omoruyi (Western Nigeria Coordinator)</b><br>(+234 703 489 6766)</li><br>
                <li><b>Engr. Adeyemi Akintunde (Asst. Western Nigeria Coordinator)</b><br>(+234 803 651 7807)</li><br>
                <li><b>Mr. George Djorhogba (Southern Nigeria Coordinator)</b><br>(+234 806 527 6078)</li><br>
                <li><b>Mr. Chigozie Nnochirionye (Asst. Southern Nigeria Coordinator)</b><br>(+234 813 220 3160)</li><br>
                <li><b>Mr. Gabriel Umenyilorah(Eastern Nigeria Coordinator)</b><br>(+234 806 494 5838)</li><br>
                <li><b>Rev. Canon Chigozie Anieto (Eastern Nigeria Coordinator)</b><br></li><br>
                <li><b>Barr. Micheal Agbo (Northern Nigeria Coordinator)</b><br>(+234 806 868 6412)</li><br>
                <li><b>Mrs. Marvellous Yinusa (Asst. Northern Nigeria Coordinator)</b><br>(+234 816 061 9282)</li>
               
            </ol>
            </div>
       
          </div>
          <div class="col-lg-6 align-self-center  wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.2s">
            <div class="left-image">
                <img src="{% static 'images/services-left-ima.jpg' %}" alt="" class="shadow-lg p-3 mb-5 bg-white rounded">
              </div>
            </div>
     
      </div>
     
    </div>
  </div>
  <div id="about" class="about-us section">
    <div class="container">
      <div class="row">
      
        <div class="col-lg-12 align-self-center">
          <div class="services">
            <div class="row">
              <div class="col-lg-12">
                <div class="item wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
                  
                  <div class="right-text">
                    
                    <p>
                        We are one family, where Jesus Christ - Son of God is lifted Up. We are the Glorious Family - Ransomed by His blood!
                    </p>
                  </div>
                </div>
              </div>
              
             
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}