    <!-- Left Panel -->
    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">
            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="">
                        <a href="{% url 'core:index' %}"><i class="menu-icon fa fa-home"></i>Home</a>
                    </li>
                    <li class="active">
                        <a href="{% url 'core:dashboard' %}"><i class="menu-icon fa fa-users"></i>Alumins </a>
                    </li>
                    <li class="">
                        <a href="{% url 'core:profile_detail' user.profile.pk %}"><i class="menu-icon fa fa-user"></i>Profile </a>
                    </li>
                    <li class="">
                        <a href="{% url 'core:bizhub:bizhub_form' %}"><i class="menu-icon fa fa-handshake-o"></i> Alumni Bizhub </a>
                    </li>
                    <li class="">
                        <a href="{% url 'core:logout' %}"><i class="menu-icon fa fa-sign-out"></i>Logout </a>
                    </li>
                </ul>
                <input type="reset" value="">
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside>
    <!-- /#left-panel -->