<header id="header" class="header">
    <div class="top-left">
        <div class="navbar-header">
          <!--<a class="navbar-brand" href="./"><img src="images/logo.png" alt="Logo"></a>-->
          <!-- <a class="navbar-brand hidden" href="./"><img src="{{ user.profile.profile_image.url }}" alt="Logo"></a>-->
            <a id="menuToggle" class="menutoggle"><i class="fa fa-bars"></i></a>
        </div>
    </div>
    <div class="top-right">
        <div class="header-menu">

            <!-- search bar     -->
            <div class="header-left">
              <!--  <button class="search-trigger"><i class="fa fa-search"></i></button>-->
                <div class="form-inline">
                   <!-- <form class="search-form">
                        <input class="form-control mr-sm-2" type="text" placeholder="Search ..."
                            aria-label="Search">
                        <button class="search-close" type="submit"><i class="fa fa-close"></i></button>
                    </form> -->
                </div>


                <!-- notification dropdown goes here -->

                <!-- messages dropdown goes here -->
            </div>

            <!-- profile image -->
            <div class="user-area dropdown float-right">
                <a href="#" class="dropdown-toggle active" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">

                  <!--   <div class="d-flex justify-content-center align-items-center  rounded-circle" style="width: 40px; height: 40px; overflow: hidden;">
                       <img class="user-avatar" src="{{ user.profile.profile_image.url }}" alt="User Avatar" style="width: 100%; height: auto;">
                    </div>
                    -->

                </a>

                <div class="user-menu dropdown-menu">
                    <a class="nav-link" href="{% url 'core:profile_detail' user.profile.pk %}"><i class="fa fa- user"></i>My Profile</a>

                    <a class="nav-link" href="#"><i class="fa fa- user"></i>Notifications <span
                            class="count">13</span></a>

                    <a class="nav-link" href="#"><i class="fa fa -cog"></i>Settings</a>

                    <a class="nav-link" href="{% url 'core:logout' %}"><i class="fa fa-power -off"></i>Logout</a>
                </div>
            </div>

        </div>
    </div>
</header>